body{
    height: 100vh;
    background: black;
    overflow: hidden;
}

#iconMenu {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 65px;
    margin-top: -50px;
    z-index: 1;
}

#menuRadius{
    display: none;
    height: 390px;
    width: 440px;
    border-radius: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -320px;
    background: rgb(32, 191, 172);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.557); 
    z-index: 0;
}

nav{
    position: absolute;
    top: 190px;
    left: 0px; /* tag para mover o menu*/
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-content .toggle-btn2,
.nav-content span a{
    height: 30px;
    width: 30px;
    background: #fff; /*color box menu*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.416); /*Sombra do Menu*/
    top: 135px;
    left: -100px;
    
}
.nav-content .toggle-btn{
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transition: all 0.7s ease;
}

.nav-content span {
    position: absolute;
    transition: all 0.7s ease;
    opacity: 0;
    left: -80px;
    top: 130px;
     /*rotate Radius menu*/
}

nav.open .nav-content span{
    transform: rotate(calc(var(--i) * (288deg/-8))) translateY(183px);
    opacity: 1;
}

.nav-content span a{
    text-decoration: none; /*tag para tirar decoraçao do link*/
} 

.nav-content span a i{
    font-size: 25px;
    color: #a220ff;
    transform: rotate(calc(var(--i) * (180deg/5))) ; /*rotate icon code*/
    opacity: 0.8;
    transition: 0.2s;
}

.nav-content span a:hover i{
    opacity: 1;
}

